* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    touch-action: pan-x pan-y;
    margin: 0;
}

body {
    align-items: center;
    background: url("https://source.unsplash.com/random/1920x1080?nature") no-repeat center;
    background-size: cover;
    display: flex;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Microsoft JhengHei UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    background: #38383D49 center no-repeat;
    backdrop-filter: blur(8px);
    border-radius: 14px;
    width: 25vw;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 4vw;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1.5em;
    color: white;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.message {
    font-size: 4rem;
    color: #f4cc81;
}

#content {
    display: none;
    padding: 1rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    li {
        font-size: 1.125rem;
        padding: .75rem;
    }

    li span {
        font-size: 3.375rem;
    }
}

@media only screen and (max-width: 2220px) {
    .container{
        width: 30vw;
    }
}

@media only screen and (max-width: 1850px) {
    .container{
        width: 23vw;
    }
}

@media only screen and (max-width: 1280px) {
    .container{
        width: 40vw;
    }
}